<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<!-- APP -->
	<bean id="appLoginInterceptor" class="com.neighbor.common.AppInterceptor">
		<property name="userBLL" ref="userBLLImpl"></property>
	</bean>

	<bean id="homeController" class="com.neighbor.controller.HomeController"
		singleton="false">
	</bean>

	<bean id="mongo" class="com.mongodb.Mongo">
		<constructor-arg value="localhost"></constructor-arg>
		<!-- <constructor-arg value="121.14.117.208"></constructor-arg> -->
	</bean>

	<bean id="mongoDbFactory"
		class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
		<constructor-arg ref="mongo" />
		<!-- collections-name -->
		<constructor-arg value="neighbor" />
	</bean>
	<bean id="mongoMappingcontext"
		class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" />

	<bean id="mongoConverter"
		class="com.neighbor.mongodb.core.convert.MappingMongoConverterEx">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg ref="mongoMappingcontext" />
	</bean>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg ref="mongoConverter" />
	</bean>

	<bean id="mongoCacheDAO" abstract="true">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>

</beans>
